.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Icon_papelera {
  cursor: pointer;
}

button {
  font-size: 20px;
  margin-top: 10px;
  width: 25%;
}

input {
  font-size: 20px;
}

.Llista {
  font-size: 30px;
}

.Estat {
  margin-left: 10px;
  margin-right: 5px;
}
