.ContainerGaleria {
  border: 5px solid rgba(117, 117, 117, 0.747);
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 610px;
  height: auto;
  background-color: rgba(189, 189, 189, 0.384);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  column-gap: 10px;
  row-gap: 10px;
  align-items: flex-start;
}
.Imatge {
  width: 100%;
  height: 1042px;
}
.Imatge img {
  width: 100%;
  height: 100%;
}
.ContainerGaleria .Imatge-graella {
  width: 300px;
  height: 120px;
}
