.GroupButton17F {
  border: 5px solid rgba(97, 97, 97, 0.747);
  padding: 10px 10px;
  margin-right: auto;
  margin-left: auto;
  width: 610px;
  height: auto;
  background-color: rgba(158, 158, 158, 0.384);
  border-radius: 15px;
}

.GroupButton17F button {
  font-size: 30px;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid black;
  cursor: pointer;
  margin: 0 10px 0 10px;
}
.GroupButton17F__Premut {
  background-color: rgb(255, 192, 109);
}
.GroupButton17F__BotonNormal {
  background-color: azure;
}
