.ContainerAcordio {
  border: 5px solid rgba(206, 205, 205, 0.747);
  padding: 10px 10px;
  margin-right: auto;
  margin-left: auto;
  width: 610px;
  height: auto;
  background-color: rgba(158, 158, 158, 0.384);
  border-radius: 15px;
}
.Titol {
  text-align: left;
  margin-bottom: 3px;
  border: 2px solid rgba(0, 0, 0, 0.171);
  border-radius: 10px;
  padding-left: 10px;
  background-color: rgba(161, 174, 185, 0.438);
  cursor: pointer;
}
.Titol label {
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
}
.Amagar {
  display: none;
}
.Contingut {
  display: block;
}
