.SumadorNumeros__Container {
  border: 5px solid rgba(97, 97, 97, 0.747);
  padding: 10px 10px;
  margin-right: auto;
  margin-left: auto;
  width: 610px;
  height: auto;
  background-color: rgba(158, 158, 158, 0.384);
  border-radius: 15px;
}
.SumadorNumeros__Boton {
  font-size: 20px;
  padding: 0 35px 0 35px;
}
