.Calculadora {
  text-align: center;
}

.Calculadora-Container {
  border: 2px solid black;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 470px;
  background-color: rgb(147, 160, 185);
  border-radius: 15px;
}

.Calculadora-Display {
  text-align: right;
  padding-right: 15px;
  height: max-content;
  background-color: rgb(39, 39, 39);
  border-radius: 8px;
  font-size: 50px;
  color: white;
}

.Calculadora-Display .Calculadora-Historic {
  font-size: 20px;
  color: rgb(170, 176, 187);
}

.Calculadora-Display,
.Calculadora-ClearInput {
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Calculadora-ClearInput {
  width: 100%;
  padding: 4%;
  border-radius: 8px;
  background-color: rgb(53, 85, 156);
  color: white;
  font-style: bold;
  font-size: 30px;
  cursor: pointer;
}

.Calculadora-Botonera {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
  column-gap: 10px;
  row-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.Calculadora-Boton {
  width: 150px;
  height: 75px;
  font-size: 40px;
  border-radius: 7px;
  background-color: rgb(215, 215, 235);
  cursor: pointer;
}

.Calculadora h2 {
  margin: 0;
  color: white;
  text-align: left;
  font-size: 30px;
  padding: 10px 10px 5px 30px;
}

.Calculadora-Operadors {
  display: flex;
  margin-top: 10px;
  column-gap: 10px;
}

.Calculadora-Operadors .Calculadora-Boton {
  width: 50%;
  color: white;
  font-size: 60px;
  background-color: rgb(55, 56, 61);
}
