.Container-Exterior {
  border: 5px solid rgba(117, 117, 117, 0.747);
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 610px;
  height: auto;
  background-color: rgba(189, 189, 189, 0.384);
  border-radius: 15px;
}
.ContainerTresEnRatlla {
  margin-right: auto;
  margin-left: auto;
  width: 250px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 3px;
  row-gap: 3px;
}
.TresEnRatlla-casella {
  font-size: 60px;
  width: 5rem;
  height: 5rem;
  border: solid 1px black;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: rgb(24, 24, 24);
}

.TresEnRatlla-casella:hover {
  background: palegoldenrod;
  cursor: pointer;
}

.TresEnRatlla-casella--winner {
  background: palegreen;
}
.TresEnRatlla-butonAcabar {
  font-size: 20px;
}
